{% extends "partials/base.html" %} 
{% load static %} 

{% block title %}Apex Radar Charts{% endblock title %} 

{% block extra_css %} 
{% endblock extra_css %} 


{% block pagetitle %}
{% include "partials/page-title.html" with pagetitle="Radar Charts" title="Apex" %}
{% endblock pagetitle %}

{% block content %} 
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Basic Radar Chart</h4>
                <div dir="ltr">
                    <div id="basic-radar" class="apex-charts" data-colors="#3e60d5"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Radar with Polygon-fill</h4>
                <div dir="ltr">
                    <div id="radar-polygon" class="apex-charts" data-colors="#FF4560"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3">Radar – Multiple Series</h4>
                <div dir="ltr">
                    <div id="radar-multiple-series" class="apex-charts" data-colors="#3e60d5,#02a8b5,#fd7e14"></div>
                    <div class="text-center mt-2">
                        <button onclick="update()" class="btn btn-sm btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->



{% endblock content %} 

{% block extra_js %} 

        <!-- Apex Charts js -->
        <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script> 

        <!-- Apex Chart Radar Demo js -->
        <script src="{% static 'js/pages/demo.apex-radar.js' %}"></script>        

        <!-- App js -->
        <script src="{% static 'js/app.min.js' %}"></script>

{% endblock extra_js %}

