{% extends "partials/base.html" %} 
{% load static %} 

{% block title %}Apex Treemap Charts{% endblock title %} 

{% block extra_css %} 
{% endblock extra_css %} 


{% block pagetitle %}
{% include "partials/page-title.html" with pagetitle="Treemap Charts" title="Apex" %}
{% endblock pagetitle %}

{% block content %} 
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Basic Treemap</h4>
                <div dir="ltr">
                    <div id="basic-treemap" class="apex-charts" data-colors="#39afd1"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Treemap Multiple Series</h4>
                <div dir="ltr">
                    <div id="multiple-treemap" class="apex-charts" data-colors="#fa5c7c,#6c757d"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Distributed Treemap</h4>
                <div dir="ltr">
                    <div id="distributed-treemap" class="apex-charts" data-colors="#3e60d5,#47ad77,#fa5c7c,#6c757d,#39afd1,#ffc35a, #eef2f7, #313a46"></div>    
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Color Range Treemap</h4>
                <div dir="ltr">
                    <div id="color-range-treemap" class="apex-charts" data-colors="#3e60d5,#39afd1"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->


{% endblock content %} 

{% block extra_js %} 

        <!-- Apex Charts js -->
        <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script> 

        <!-- Apex Chart Treemap Demo js -->
        <script src="{% static 'js/pages/demo.apex-treemap.js' %}"></script>        

        <!-- App js -->
        <script src="{% static 'js/app.min.js' %}"></script>

{% endblock extra_js %}

