{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block page_content %}
    <div class="w-25 mx-auto my-5">

        <h1>{% trans "Set Password" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
{% endblock %}
