{% load static %} 

{% include "partials/main.html" %}

<head>
{% include "partials/title-meta.html" with title="Error 500" %}

{% include "partials/head-css.html" %}
</head>

<body class="authentication-bg">

{% include "partials/background.html" %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header pt-4 text-center">
                        <div class="auth-brand mb-0">
                            <a href="/" class="logo-dark">
                                <span><img src="{% static 'images/logo-dark.png' %}" alt="dark logo" height="28"></span>
                            </a>
                            <a href="/" class="logo-light">
                                <span><img src="{% static 'images/logo.png' %}" alt="logo" height="28"></span>
                            </a>
                        </div>
                    </div>
                    
                    <div class="card-body p-4">

                        <div class="text-center">
                            <img src="{% static 'images/svg/startman.svg' %}" height="120" alt="File not found Image">

                            <h1 class="text-error mt-4">500</h1>
                            <h4 class="text-uppercase text-danger mt-3">Internal Server Error</h4>
                            <p class="text-muted mt-3">Why not try refreshing your page? or you can contact <a href="" class="text-muted"><b>Support</b></a></p>

                            <a class="btn btn-info mt-3" href="/"><i class="ri-home-4-line me-1"></i> Return Home</a>
                        </div>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card-->
                
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    <span class="text-white-50"><script>document.write(new Date().getFullYear())</script> © Jidox - Coderthemes.com</span>
</footer>

{% include "partials/footer-script.html" %}

{% block extra_js %} 
 <!-- App js -->
 <script src="{% static 'js/app.min.js' %}"></script>
{% endblock extra_js %}



